/*
 * Fluf Color Scheme
 *
 * Greyscale:
 *    
 *   #222222, #444444, #919191, #DDDDDD, 
 *   #CCCCCC, #F1F1F1, #FFFFFF
 *
 * Greens:
 *
 *   #76C721
 *
 */
@charset 'UTF-8';

@font-face {
    font-family: 'LigatureSymbols';
    src: url('../fonts/LigatureSymbols-2.09.eot');
    src: url('../fonts/LigatureSymbols-2.09.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LigatureSymbols-2.09.woff') format('woff'),
         url('../fonts/LigatureSymbols-2.09.ttf') format('truetype'),
         url('../fonts/LigatureSymbols-2.09.svg#LigatureSymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lsf {
  font-family: 'LigatureSymbols';
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
  font-family: 'LigatureSymbols';
}

/* Border Boxing */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

body {
  font: 400 14px/1.7 "Segoe UI", Arial, sans-serif;
  margin: 0; 
  padding: 0;
  color: #444;
}

h1, h2, h3 {
  margin: 5px 0;
  font-weight: normal;
  color: #353535;
}

pre {
  border: 1px solid #F1F1F1;
  padding: 15px;
}

textarea.pyg {
  border: 1px solid #F1F1F1;
  margin: 10px 0;
  padding: 10px;
  font-family: courier;
  color: #222;
  outline: none;
}

/* Reset */
ul, li, a, p, div {
  list-style: none;
  margin: 0; padding: 0;
  outline: none;
  text-decoration: none;
}

.container {
  margin: 10px auto;
  width: 960px;
}

/* Navigation */
nav {
  display: block;
}

nav ul li {
  float: right;
  display: inline-block;
  font-size: 12px;
  margin-left: 15px;
}

nav ul li a {
  color: #CCCCCC;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #AAAAAA;
}

nav ul li a.active {
  color: #919191;
}

/* Header / Aside */
header, aside {
  float: left;
  display: inline-block;
  margin: 130px 0;
}

header {
  width: 55%;
}

header .logo {
  background: url('../images/logo.png') no-repeat;
  width: 98px;
  height: 80px;
  text-indent: -99999px;
}

header .statement {
  position: relative;
  left: -35px;
  margin-top: 70px;
  color: #CCCCCC;
  font-size: 24px;
}

header .slash {
  font-size: 72px;
  float: left;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  color: #F1F1F1;
  top: -28px;
  left: -20px;
}

header .phrase {
  float: left;
}

header .phrase p {
  display: block;
}

header .phrase p em {
  font-style: normal;
  color: #DDDDDD;
}

aside {
  width: 45%;
  margin-top: 100px;
}

aside textarea {
  width: 100% !important;
}

aside a.download {
  display: block;
}

aside a.download .icon {
  display: inline-block;
  background: #F1F1F1;
  color: #919191;
  height: 81px;
  width: 80px;
  font-size: 63px;
  text-align: center;
  line-height: 1.15;
  position: relative;
  top: 9px;
  margin-right: 2px;
}

.webkit aside a.download .icon {
  top: 11px !important;
}

aside a.download .text {
  display: inline-block;
  background: #76C721;
  color: #FFFFFF;
  width: 80%;
  padding: 10px 15px;
  font-size: 36px;
  font-weight: bold;
  vertical-align: middle;
}

aside a.download:hover .icon {
  background: #76C721;
  color: #FFFFFF;
}

aside a.download:hover .text {
  background: #F1F1F1;
  color: #919191;
}

aside a.download .text em {
  font-weight: normal;
  font-style: normal;
  float: right;
}