/*
 * Fluf Color Scheme
 *
 * Greyscale:
 *    
 *   #222222, #444444, #919191, #DDDDDD, 
 *   #CCCCCC, #F1F1F1, #FFFFFF
 *
 * Greens:
 *
 *   #76C721
 *
 */
@charset 'UTF-8';

@font-face {
    font-family: 'LigatureSymbols';
    src: url('../fonts/LigatureSymbols-2.09.eot');
    src: url('../fonts/LigatureSymbols-2.09.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LigatureSymbols-2.09.woff') format('woff'),
         url('../fonts/LigatureSymbols-2.09.ttf') format('truetype'),
         url('../fonts/LigatureSymbols-2.09.svg#LigatureSymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lsf {
  font-family: 'LigatureSymbols';
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
  font-family: 'LigatureSymbols';
}

/* Border Boxing */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

body {
  font: 400 14px/1.7 "Segoe UI", Arial, sans-serif;
  margin: 0; 
  padding: 0;
  color: #444;
}

body.alt {
  padding-bottom: 240px;
}

h1, h2, h3 {
  margin: 5px 0;
  font-weight: normal;
  color: #353535;
}

pre, code {
  -webkit-font-feature-settings: normal;
  -ms-font-feature-settings: normal;
  font-feature-settings: normal;
}

pre {
  border: 1px solid #F1F1F1;
  padding: 15px;
}

pre *, code * {
  font-family: Consolas, Courier, monospace;
  font-size: 13px;

  -webkit-font-feature-settings: normal;
  -ms-font-feature-settings: normal;
  font-feature-settings: normal;
}

textarea.pyg {
  border: 1px solid #F1F1F1;
  margin: 10px 0;
  padding: 15px;
  font-family: monaco, courier;
  color: #222;
  outline: none;
}

/* Reset */
ul, li, a, p, div {
  list-style: none;
  margin: 0; padding: 0;
  outline: none;
  text-decoration: none;
}

.container {
  margin: 10px auto;
  width: 960px;
}

/* Navigation */
nav {
  display: block;
}

nav ul li {
  float: right;
  display: inline-block;
  font-size: 12px;
  margin-left: 15px;
}

nav ul li a {
  color: #BBBBBB;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #919191;
}

nav ul li a.active {
  color: #222222;
}

/* Header / Aside */
.front header,
.front aside {
  float: left;
  display: inline-block;
  margin: 45px 0;
}

.front header {
  width: 55%;
}

.front header .logo {
  background: url('../images/logo.large.png') no-repeat;
  width: 234px;
  height: 183px;
  text-indent: -99999px;
}

.front header .statement {
  position: relative;
  left: -35px;
  margin-top: 50px;
  color: #CCCCCC;
  font-size: 24px;
}

.front header .slash {
  font-size: 72px;
  float: left;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  color: #F1F1F1;
  top: -28px;
  left: -20px;
}

.front header .phrase {
  float: left;
}

.front header .phrase p {
  display: block;
}

.front header .phrase p em {
  font-style: normal;
  color: #DDDDDD;
}

.front aside {
  width: 45%;
  margin-top: 100px;
}

.front aside textarea {
  width: 100% !important;
}

.front aside a.download {
  display: block;
}

.front aside a.download .icon {
  display: inline-block;
  background: #F1F1F1;
  color: #919191;
  height: 81px;
  width: 80px;
  font-size: 51px;
  text-align: center;
  line-height: 1.53;
  position: relative;
  top: 9px;
  margin-right: 2px;
  transition: color,background .2s;
  -moz-transition: color,background .2s;
  -webkit-transition: color,background .2s;
  -o-transition: color,background .2s;
}

.webkit .front aside a.download .icon {
  top: 11px !important;
}

.front aside a.download .text {
  display: inline-block;
  background: #76C721;
  color: #FFFFFF;
  width: 80%;
  padding: 0 15px;
  font-size: 51px;
  font-weight: bold;
  vertical-align: middle;
  transition: color,background .2s;
  -moz-transition: color,background .2s;
  -webkit-transition: color,background .2s;
  -o-transition: color,background .2s;
  line-height: 1.59;
}

.front .opera aside a.download .icon, 
.front .opera aside.a.download:hover .icon {
  color: transparent;
  background: none;
}

.front aside a.download:hover .icon {
  background: #76C721;
  color: #FFFFFF;
}

.front aside a.download:hover .text {
  background: #F1F1F1;
  color: #919191;
}

.front aside a.download .text em {
  display: block;
  line-height: .5;
  font-family: Segoe UI Semilight, Arial Semilight, Segoe UI, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
}

.front aside a.download .text span {
  float: right;
  font-family: Segoe UI Semibold, Arial Semibold, Segoe UI, Arial, sans-serif;
  font-size: 24px;
  margin-top: 12px;
}

/* Alternative Site Style */
.alt :target {
  padding-top: 50px;
}

.alt header {
  display: block;
  position: fixed;
  top: 0; left: 0;
  background: rgba(255,255,255,0.98);
  height: 45px;
  width: 100%;
  padding: 0 20px;
  z-index: 9999;
}

.alt header .logo {
  display: block;
  font: 400 24px Segoe UI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444444;
  width: 100%;
  margin-top: 5px;
}

.alt header .logo em {
  color: #EEE;
}

.alt header nav {
  float: right;
  margin-top: 10px;
}

.alt .container {
  position: relative;
  top: 40px;
  width: 65%;
  max-width: 960px;
  margin: 0 100px 50px;
}

.alt aside {
  position: fixed;
  right: 20px;
  top: 100px;
  text-align: right;
}

.alt aside .menu ul {
  margin-bottom: 10px;
  height: 0;
  overflow: hidden;
}

.alt aside .menu ul.active {
  height: auto;
}

.alt aside .menu li a {
  text-transform: uppercase;
  color: #222222;
}

.alt aside .menu li a:hover {
  text-decoration: underline;
}

.alt aside .menu li li a {
  text-transform: none;
  color: #919191;
  font-weight: normal;
}

.alt aside .menu li li a.active {
  color: #0000FF;
}

.alt p {
  margin-bottom: 15px;
  font-size: 15px;
}

.alt p code {
  background: #F1F1F1;
  color: #444;
  font-family: Consolas, Courier, monospace;
  font-size: 14px;
  padding: 2px 8px;
}

.alt h2 {
  margin-top: 40px;
}

.alt entry h3 {
  padding-top: 50px;
  font-weight: bold;
  font-size: 18px;
}